Finances Automations/token.json
*.pyc
PR Automations/credentials.json
Finances Automations/credentials.json
PR Automations/token.json
.DS_Store
untitled folder/.vscode/launch.json
untitled folder/token.json
