Finances Automations/token.json
*.pyc
PR Automations/credentials.json
Finances Automations/credentials.json
PR Automations/token.json
.DS_Store
SG Automations/credentials.json
SG Automations/.vscode/launch.json
*.json
Infrastructure/Airtable/.env
