AttendingFolderID = "1BPlHoPuG4ij7ewIRsU0v9ILkOSxsCv"
NotAttendingFolderID = 

# update invoice templates to reflect changes every year! Update SG name, year, 
template1_independent_invoice_ID  =  # An invoice model for independent schools.
template2_independent_invoice_ID = 
template3_independent_invoice_ID = 
template1_school_invoice_ID = 
template2_school_invoice_ID = 
template3_school_invoice_ID = 
emailtemplateID = 
emailfolderID = 
YearText = "SCVMUN LVI (2027)"
FoldersWithAllFinalInvoicesID = 
fullyPaidInvoiceFolderID = 
partiallyPaidInvoiceFolderID = 
unpaidInvoiceFolderID = 

# every year, when editing the emailfolderID, you have to create a new folder inside the 
# SCVMUN LVI (2027) folder, next to attending and not attending.
# Also, edit the email template itself to reflect new changes. You don't need a new ID or file, just change the old one.
