AttendingFolderID = "1BPlHoPuG4ij7ewIRsU0v9ILkOSxsCv"
NotAttendingFolderID = 
template1_independent_invoice_ID  = 
template2_independent_invoice_ID = 
template3_independent_invoice_ID = 
template1_school_invoice_ID = 
template2_school_invoice_ID = 
template3_school_invoice_ID = 
emailtemplateID = 
emailfolderID = 
YearText = "SCVMUN LVI (2027)"